table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

button {
    background-color: lightgray;
    color: black;
}

button:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

.buttons {
    margin-bottom: 20px;
}

button:active {
    background-color: blue;
    color: white;
}

p.data {
    margin-top: 10px;
    text-align: right;
    justify-self: right;
}